<div class="container" id="containerLogin">
  <form action="/login" method="post" id="formLogin">
    <h1 id="entrarLogin">Entrar</h1>
    <div id="divLogin">
      <label for="email" id="emailLogin">Email</label>
      <input type="text" id="email" name="email" />
    </div>
    <div id="divLogin">
      <label for="password" id="emailLogin">Senha</label>
      <input type="password" id="password" name="password" />
    </div>
    <input type="submit" id="botaoEntrar" value="Entrar" />
  </form>
</div>
