<div class="container" id="containerCadastro">
  <form action="/cadastro" method="post" id="formCadastro">
    <h1 id="textoCadastro">Cadastre-se</h1>
    <div id="divCadastro">
      <label for="email" id="emailCadastro">Email</label>
      <input type="text" id="email" name="email" />
    </div>
    <div id="divCadastro">
      <label for="nome" id="textoNome">Nome</label>
      <input type="text" id="nome" name="nome" />
    </div>
    <div id="divCadastro">
      <label for="password" id="textoSenha">Senha</label>
      <input type="password" id="password" name="password" />
    </div>
    <div id="divCadastro">
      <label for="confirmpassword" id="textoSenha">Confirmação de Senha</label>
      <input type="password" id="confirmpassword" name="confirmpassword" />
    </div>
    <input type="submit" value="Cadastrar" id="botaoCadastrar"/>
  </form>
</div>

