<main>
  <div class="container-fluid text-center mt-5">
    <h2 id="tituloOpcoes">Opções:</h2>

    
    <a href="/pedido/cadastrar" class="btn btn-primary mb-2">Criar um Pedido</a>
    <a href="/pedido/informacoes" class="btn btn-secondary mb-2">Ver Pedidos</a>
    <a href="/pedido/remocao" class="btn btn-danger mb-2">Remover um Pedido</a>
    <a href="/pedido/atualizar" class="btn btn-warning mb-2">Atualizar um Pedido</a>
  </div>
</main>
