<main>
  <div class="container">
    <table class="table mt-5">
      <h2 style="font-family: 'Segoe Script', cursive; color: #645218;">Informações</h2>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Sabor</th>
        </tr>
      </thead>
      <tbody>
        {{#each novosSabores}}
          <tr>
            <th scope="row">{{@index}}</th>
            <td>
            <a href="/pedido/informacao/{{this.id}}">{{this.saborInserido}}</a>
            </td>
          </tr>
        {{else}}
          <tr>
            <th scope="row" colspan="2">Não há sabores criados.</th>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</main>
